.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Start my style */

/* Global style */
.text-center {
  text-align: center;
}
.text-line {
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  color: #2b4162
}
.text-line:after {
  content: "";
  position: absolute;
  width: 250px;
  height: 5px;
  background-color: #f2e8cf;
  border: 2px solid #bc4749;
  top: 40px;
  right: 41%;
  border-radius: 10px;
}
.descrption {
  width: 50%;
  margin: 15px auto;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  color: #2b4162;
}
#shopImage {
  width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 5px #386641;

}
/* Start Product Card */
.title {
  color: #bc4749;
  margin: 30px 100px;
}
.List {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.List div {
  border: 1px solid #000;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px #000;
  text-align: center;
  transition: 0.5s ease-in-out;
  width: 25%;
}
.List div:hover {
  transform: translateY(-10px);
}
.image-product {
  width: 250px;
}
.product-name,
.product-price {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: #235eb6;
}
.product-price span {
  color: #bc4749;
  font-weight: bold;
  font-size: 25px;
}
/* End Product Card */
